
@{
    ViewData["Title"] = "Заказ оформлен";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    
    <p>Заказ @ViewBag.OrderId сформирован и в скором времени будет обработан</p>
    
    <a asp-controller="Home" asp-action="Index">На главную</a>
</div>
