@model WebStore.Domain.ViewModels.CartViewModel
@{
    var items_count = Model.ItemsCount;
    var count = items_count > 0 ? $"({items_count})" : null;
}

<a asp-controller="Cart" asp-action="Index">
    <i class="fa fa-shopping-cart"></i> Корзина @count
</a>