<div class="shop-menu pull-right">
    <ul class="nav navbar-nav">
        <li id="cart-container"><vc:cart /></li>
        <li><a asp-controller="Account" asp-action="Register"><i class="fa fa-user"></i> Регистрация</a></li>
        <li><a asp-controller="Account" asp-action="Login"><i class="fa fa-lock"></i> Вход</a></li>
    </ul>
</div>