@{
    ViewData["Title"] = "В доступе отказано!";
}

<div class="container">
    <p class="text-danger">В доступе отказано!</p>
    <a asp-controller="Home" asp-action="Index">На главную страницу!</a>
</div>

