@model OrderViewModel
@{
    ViewData["Title"] = "_CheckOut";
}

<form asp-action="CheckOut">
    <div class="row">
        <div class="col-sm-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="sr-only"></label>
                <input asp-for="Name" class="form-control" placeholder="Имя" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Phone" class="sr-only"></label>
                <input asp-for="Phone" class="form-control" placeholder="Телефон" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address" class="sr-only"></label>
                <input asp-for="Address" class="form-control" placeholder="Адрес" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6">
            @{
                ViewData.TryGetValue("TotalPrice", out var total_price);
            }
            
            @if (total_price is decimal price && price > 0)
            {
                <div class="total_area">
                    <ul>
                        <li>Налог: 0</li>
                        <li>Доставка: 0</li>
                        <li>Итого: <span>@price.ToString("C")</span></li>
                    </ul>
                    <input class="btn btn-default check_out" type="submit" value="Оформить"/>
                </div>
            }
        </div>
    </div>
</form>