@using WebStore.Infrastructure.Interfaces
@inject IProductData ProductData
@{
    var products = ProductData
        .GetProducts()
        .OrderBy(p => p.Order)
        .Take(6)
        .Select(p => new ProductViewModel
        {
            Id = p.Id,
            Name = p.Name,
            Price = p.Price,
            ImageUrl = p.ImageUrl
        });
}

<partial name="Partial/_Slider"/>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <partial name="Partial/_LeftSideBar"/>
            </div>

            <div class="col-sm-9 padding-right">
                <partial name="Partial/_FeaturesItems" model="products"/>

                <partial name="Partial/_CategoryTab"/>

                <partial name="Partial/_RecomendedItems"/>
            </div>
        </div>
    </div>
</section>