<div class="adjust-nav">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="assets/img/logo.png" />

        </a>

    </div>

    <span class="logout-spn">
        <a href="#" style="color:#fff;">LOGOUT</a>

    </span>
</div>