<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>First View from Home controller</p>
    <p>Всем привет!</p>
    <p>
        <a href="~/Home/Employees">Сотрудники</a>
    </p>
</body>
</html>
