<div class="row">
    <div class="col-lg-12">
        <h2>Администратор eShoper</h2>
    </div>
</div>
<!-- /. ROW  -->
<hr />
<div class="row">
    <div class="col-lg-12 ">
        <div class="alert alert-info">
            <strong>Welcome Jhon Doe ! </strong> You Have No pending Task For Today.
        </div>

    </div>
</div>
<!-- /. ROW  -->
<div class="row text-center pad-top">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a asp-controller="Catalog" asp-action="Index" asp-area="Admin">
                <i class="fa fa-circle-o-notch fa-5x"></i>
                <h4>Каталог товаров</h4>
            </a>
        </div>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a asp-controller="Users" asp-action="Index">
                <i class="fa fa-envelope-o fa-5x"></i>
                <h4>Пользователи</h4>
            </a>
        </div>
    </div>
</div>