<ul class="nav navbar-nav collapse navbar-collapse">
    <li><a asp-controller="Home" asp-action="Index" class="active">Домой</a></li>
    <li class="dropdown">
        <a href="#">Магазин<i class="fa fa-angle-down"></i></a>
        <ul role="menu" class="sub-menu">
            <li><a asp-controller="Catalog" asp-action="Shop">Каталог</a></li>
            <li><a asp-controller="Home" asp-action="ProductDetails">Детали товара</a></li>
            <li><a asp-controller="Home" asp-action="Checkout">Checkout</a></li>
            <li><a asp-controller="Home" asp-action="Cart">Cart</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a asp-controller="Home" asp-action="Blogs">Блоги<i class="fa fa-angle-down"></i></a>
        <ul role="menu" class="sub-menu">
            <li><a asp-controller="Home" asp-action="Blogs">Блоги покупателей</a></li>
            <li><a asp-controller="Home" asp-action="Blogs">Блог магазина</a></li>
        </ul>
    </li>
    <li><a asp-controller="Home" asp-action="Index">404</a></li>
    <li><a asp-controller="Home" asp-action="ContactUs">Контакты</a></li>
    <li><a asp-controller="Employees" asp-action="Index">Сотрудники</a></li>
    <li><a asp-controller="WebAPI" asp-action="Index">WebAPI</a></li>
</ul>